<div home class="homePage">
    <section class="homeSectionOne">
        <h1>Image Drawing and Mapping</h1>
        <h2>A suite of interactive applications to be integrated into the CEWidgets as a more interactive way to teach math and geometry.</h2>


        <p>Connexus Link: <a href="https://www.connexus.com/issueAware/issue.aspx?idIssue=1176772" target="_blank" title="Drawing and Mapping">https://www.connexus.com/issueAware/issue.aspx?idIssue=1176772</a></p>

       <p>Create a new widget type that includes the following features/functions. The requirements for this widget are targeted to math-specific content. If similar requirements are requested later for other subject areas, that would be deemed a different widget type. Given the specific needs of math functions, it has been deemed necessary to break this out as its own widget type.</p>
        <!--<div class="panel">
            <input type="text" name="widthInput" maxlength="3" input-dir
                   data-ng-model="inputValue"
                   data-ng-change="updateWidth(width)" />
        </div>-->
    </section>

    <section class="homeSectionTwo">
      <h1>The Categories</h1>
      <h2>Several different categories of widgets will be required for this application. Below are a list of all categories proposed for this project. Select a category to get more information.</h2>



      <div class="row" data-equalizer>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
              <h3>Graphs</h3>
              <img src="img/icons/coordinate.png" />
              <a class="button" href="#/graphs">Go</a>
            </div>
        </div>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
              <h3>Num Lines</h3>
              <img src="img/icons/number-line.jpg" />
                <a class="button" href="#/number-lines">Go</a>
            </div>
        </div>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
                <h3>Charts</h3>
                <img src="img/icons/charts.png" />
              <a class="button" href="#/charts">Go</a>
            </div>
        </div>
    </div>
    <div class="row" data-equalizer>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
                <h3>Time</h3>
              <img src="img/icons/clock.png" />
              <a class="button" href="#/time">Go</a>
            </div>
        </div>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
                <h3>Temperature</h3>
              <img src="img/icons/temperature.png" />
              <a class="button" href="#/temperature">Go</a>
            </div>
        </div>
        <div class="small-6 large-4 columns">
            <div class="categoryThumbnail" data-equalizer-watch>
                <h3>Fractions</h3>
              <img src="img/icons/fractions.png" />
              <a class="button" href="#/fractions">Go</a>
            </div>
        </div>
      </div>

    </section>
</div>

<script>
  $(document).foundation();
</script>
