<div class="row fullWidth" heightsource>
    <div class="small-12 medium-3 columns leftStatic" heighttarget>
        <figure>
            <img src="../src/img/icons/clock.png" alt="Time Icon" />
        </figure>

        <div class="pageSubNav">
            <ul class="custom-side-nav" role="navigation" title="Side nav">
                <li role="menuitem"><a href="#section-1" du-smooth-scroll duration ="1250">Clock</a></li>
            </ul>
        </div>
    </div>

    <div class="small-12 medium-9 columns innerMain">
        <!-- GRID EXAMPLES IN ORDER -->


        <section class="norwegian" id="section-1">
            <clock>
                <h1>Time <span class="red">Clock</span></h1>

                <!--<p><strong>Instructions:</strong> Use clock to shade areas, set hours, minutes and seconds.</p>-->

                <div class="row">
                    <div class="small-12 medium-8 columns">
                        <div class="clockContainer" id="clockContainer"></div>
                    </div>

                    <div class="small-12 medium-4 columns">
                        <p class="instructions">This is an example of a clock running in real time with other options available.</p>
                        <!--<div role="button" class="button radius" data-ng-click="showHand('minutes')">Add Minute Hand</div>-->
                    </div>
                </div>
            </clock>
        </section>

    </div>
</div>
