@media only screen and (min-width: 10em) {
  .leftStatic {
    height: 300px; } }

@media only screen and (max-width: 940px) {
  .top-bar ul li, .top-bar-section ul li {
    line-height: 2.8125rem !important; }
    .top-bar ul li a:not(.button), .top-bar-section ul li a:not(.button) {
      line-height: 2.8125rem !important; }
    .top-bar ul li a:not(.button):hover, .top-bar-section ul li a:not(.button):hover {
      line-height: 2.8125rem !important; }
  .top-bar {
    height: 2.8125rem; } }
